@font-face {
    font-family: Karla;
    src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {font-family: Karla;}

.formule {
    width: 100%;
    height: 40px;
    font-family: Montserrat;
    overflow-x: hidden;
}
