@font-face {
    font-family: Karla;
    src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {font-family: Karla;}

.formule {
    width: 100%;
    height: 40px;
    font-family: Montserrat;
    overflow-x: hidden;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: #f05252 !important;
    border-color: #f05252 !important;
}

input:focus, 
select:focus, 
textarea:focus
{border-color: #f05252 !important;}

button[disabled] {
    background-color: #f05252 !important;
    border-color: #f05252 !important;
}

.color_picker {
    width: 230px;
    height: 38px;
}

.color_picker input {opacity: 0;}

#msStatus i {cursor: pointer;}