@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Karla;
    src: url(../fonts/Karla-Regular.ttf);
}


* {font-family: Montserrat;}

@tailwind base;
@tailwind components;
@tailwind utilities;
