@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratBold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Karla;
    src: url(../fonts/Karla-Regular.ttf);
}


* {font-family: Montserrat;}

@media (max-width: 500px) {
    html {width: 100vw;}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
